/* Header Admin */
.header-admin {
    background-color: #777;
    padding: 15px;
    // width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
                letter-spacing: 1.4px;
                transition: all 0.5s;
                @include type-6(24);

                &:hover {
                    transition: all 0.7s;
                    opacity: 0.7;
                    color: rgb(163, 163, 163);
                }
            }
        }

        &__menu {
            display: flex;
            justify-content: flex-end;

            ul {
                display: flex;
                align-items: center;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0 10px;

                    a {
                        font-weight: 400;
                        color: #fff;
                        text-decoration: none;
                        @include type-7(16);
                    }

                    .user-img {
                        width: 50px;
                        border-radius: 50px;
                        margin-left: 10px;
                    }
                }
            }
        }

    }

}
/* end Header Admin */

/* Side Panel */ 
.main-admin {

    &__wrapper {
        display: flex;

        &__panel {
            position: relative;
            padding: 20px 25px;
            width: 270px;
            min-height: 100vh;
            background-color:#808080e1;

            ul {
                list-style: none;
                padding: 0 10px;
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    align-items: center;
                    margin: 15px 0;

                    i {
                        color: #414141;
                    }
                    
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 400;
                        letter-spacing: 1.2px;
                        padding-left: 10px;
                        @include type-7(24);
                    }
                }
            }
        }

        /* Conteudo Posts */

        &__content-posts {
            padding: 20px;
            width: 100%;
            margin: 30px;
            background-color: #f2f2f2;

            /* Title */
            .block-title {
                padding: 40px 0;

                h2 {
                    text-align: center;
                    color: #333;
                    font-weight: 400;
                    @include type-7(40);

                    &::after {
                        content: '';
                        display: block;
                        background-color: #333;
                        margin: 0 auto;
                        width: 50px;
                        height: 1px;
                    }
                }
            }
            /* end Title */

            /* Button Insert Posts */
            .insert-posts {
                margin-bottom: 20px;

                .btn-insert-posts {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: rgb(24, 63, 172);
                    font-weight: 400;
                    color: #fff;
                    border: solid 1px rgb(24, 63, 172);
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all 0.7s;
                    @include type-7(16);
                    &:hover {
                        transition: all 0.7s;
                        background-color: transparent;
                        color: rgb(24, 63, 172);
                        border: solid 1px rgb(24, 63, 172);
                    }
                }
            }

            /* Formulario Add Post */
            .form-add-post {
                background-color: #0e349ea6;
                color: #fff;
                padding: 20px;
                margin: 0 auto;
                text-align: center;
                max-width: 100%;
                position: relative;
                margin-bottom: 60px;
                display: none;

                &__header {
                    position: absolute;
                    right: 20px;
                    .btn-close {
                        cursor: pointer;
                        transition: all 0.7s;

                        &:hover {
                            color: #4209DE;
                            transition: all 0.7s;
                            transform: rotate(80deg);
                        }
                    }
                }

                .title {
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: #fff;
                    @include type-7(30);

                    &:after {
                        content: '';
                        display: block;
                        background-color: #fff;
                        margin: 5px auto 0;
                        height: 1px;
                        width: 100px;
                    }
                }

                &__form {
                    max-width: 600px;
                    margin: 0 auto;
                    text-align: left;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        @include type-7(18);
                    }

                    input {
                        width: 100%;
                    }

                    textarea {
                        width: 100%;
                    }

                    .btn-insert {
                        background-color: #143691;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        padding: 10px 20px;
                        border: solid 1px #183FAB;
                        transition: all 0.7s;
                        font-weight: 500;
                        @include type-7(18);

                        &:hover {
                            transition: all 0.7s;
                            background-color: rgba(17, 17, 194, 0.198);
                            color: #fff;
                            font-weight: 400;
                            border: solid 1px #fff;
                        }
                    }
                }

                .mb-1 {
                    margin-bottom: 15px;
                }

            }
            /* end Formulario Add Post */

            /* end Button Insert Posts */


            /* Table Posts */
            .table-posts {
                width: 100%;

                thead {
                    tr {
                        text-align: center;
                        th {
                            background-color: #777;
                            color: #fff;
                            font-weight: 400;
                            padding: 10px 0;
                            text-align: center;
                            @include type-7(20);
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            padding: 10px;
                            text-align: center;
                            width: 100%;
                            font-weight: 300;
                            border: solid 1px rgba(143, 143, 143, 0.794);
                            color: #222;
                            @include type-7(18);

                            .btn-update {
                                display: table-cell;
                                color: #fff;
                                width: 100%;
                                text-decoration: none;
                                border: solid 1px rgb(44, 170, 54);
                                padding: 10px 20px;
                                background-color: rgb(44, 170, 54);
                                transition: all 0.7s;
                                font-weight: 400;
                                @include type-7(16);

                                &:hover {
                                    transition: all 0.7s;
                                    background-color: transparent;
                                    color: rgb(44, 170, 54);
                                    border: solid 1px rgb(44, 170, 54);
                                }
                            }

                            .btn-delete {
                                display: table-cell;
                                font-weight: 400;
                                color: #fff;
                                text-decoration: none;
                                padding: 10px 20px;
                                border: solid 1px rgb(209, 44, 44);
                                background-color:rgb(209, 44, 44);
                                @include type-7(16);
                                &:hover {
                                    transition: all 0.7s;
                                    background-color: transparent;
                                    color: rgb(209, 44, 44);
                                    border: solid 1px rgb(209, 44, 44);
                                }
                            }
                        }
                    }
                }
            }
            /* end Table Posts */
        }
        /* end Conteudo Posts */


        /* Conteudo Dashboard */ 
        &__content-main {
            padding: 20px;
            width: 100%;
            margin: 30px;
            background-color: #f2f2f2;

            /* Title Principal */
            .block-title {
                .title {
                    text-align: center;
                    color: #222;
                    text-transform: capitalize;
                    @include type-7(30);
                }

                .text {
                    color: #222;
                    line-height: 23px;
                    @include type-7(18);
                }
            }
            /* end Title Principal*/

            /* */
            ul {
                margin-top: 20px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                li {
                    list-style: none;
                    
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #222;
                        transition:  all 0.7s;
                        @include type-7(18);

                        &:hover {
                            transition:  all 0.7s;
                            color: rgb(153, 153, 153);

                            i {
                                transition:  all 0.6s;
                                color: #56e7ab;
                            }
                        }

                        i {
                            transition:  all 0.6s;
                            margin-right: 8px;
                            color: #183FAB;
                        }
                    }
                }
            }
            /**/
        }
        /* end Conteudo Dashboard */

    }

    /* Atalhos */
    .active-modal-form-add {
        transition: all 0.7s;
        display: block !important;
    }

    .my-1 {
        margin-top: 15px;
    }

    .activeMenuPanel {
        color: #56e7ab;
        border-bottom: dashed 1px #56e7ab;
    }
}
/* end Side Panel */ 